@use '../sass/utils/vars' as *;
@use '../sass/components' as *;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-primary-500);
  position: relative;
  overflow-x: hidden;
}

@media (min-width: 90em) {
  .body {
    overflow-x: visible;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section {
  overflow: hidden;
  &--articles {
    background: var(--linear-gradient-100);
  }
}

@media (min-width: $desktop-size) {
  .section {
    overflow: visible;
  }
}
