@use '../utils/vars' as *;
@use '../components/typography' as *;

.attribution {
  position: relative;
  text-align: center;
  top: 1rem;
  &__link {
    font-size: var(--fs-300);
    &:hover,
    &:focus {
      color: var(--text-hover-600);
    }
  }
}
