@use '../utils/vars' as *;
@use '../components/typography' as *;

.hero {
  padding-top: 1.375rem;
  padding-bottom: 2.875rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  &__photo {
    height: 115vw;
    width: 100vw;
    background-image: url('../assets/image-hero-mobile@2x.webp');
    background-repeat: no-repeat;
    background-position-x: -6.5vw;
    background-size: 115vw;
  }
}

@media (min-width: $tablet-size) {
  .hero {
    padding-block: 3.25rem;
    max-width: 398px;
    margin-bottom: 5.125rem;
  }

  .hero__photo {
    display: none;
  }
}

@media (min-width: $desktop-size) {
  .hero {
    padding-block: 8rem;
    max-width: 457px;
    gap: 0;
    position: relative;
  }
  .hero :nth-child(2) {
    margin-top: 1.875rem;
    margin-bottom: 2.5rem;
    padding-right: 0.75rem;
  }

}
